<h1><%= @track.song_title %></h1>

<p>
  Author: <%= @track.author %>
</p>

<a href="<%= @track.url %>"><%= @track.url %></a>

<hr/>
<a href="/tracks">Back to All Messages</a>

<hr/>
<a href="/users/love"><img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-128.png" width=50 px, height=50 px></a>
<hr/>
<a href="/">Home</a>