<form method="post" action='/users/login'>

  <div>
    <label>Username:</label>
    <input type='text', name='username', value="<%= @user.username %>">
  </div>

  <div>
    <label>Password:</label>
    <input type='password', name='password', value="<%= @user.password %>">
  </div>

  <div>
    <input type='submit' value='Sign in'>
  </div>

</form>

<hr/>
<a href="/">Home</a>